<!DOCTYPE HTML>
<html>
<body  style="background-color:#A8A8A8"></body>
<center>
<canvas id="canvas" width="600" height="500" style="border:1px solid #000000;"></canvas>
<div>
<input id="clear" type=button value="Clear" >
<input id="submit" type=button value="Submit" >
<input id="vertex" type=button value="vertex" onclick="drawEdge = 0" >
<input id="edge" type=button value="edge" onclick="drawEdge = 1" >
</div>
</center>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

var select = 0;
var startX;
var startY;
var vertexNo = -1;
var centers = new Array();
var adjancencyList = new Array();
var colours = ["red", "green", "blue", "yellow", "pink", "purple", "brown", "voilet"];
var v ;
var u ;

clear.addEventListener('click', clearCanvas, false);
submit.addEventListener('click', colouring, false);
canvas.addEventListener('click', create, false);

function clearCanvas() {
    location.reload(); 
}

function colouring() {
  		
	$.post("/",{data:JSON.stringify(adjancencyList)},function(data){
	    data =data.replace(/\[/g,"").replace(/\]/g,"").split(",");
		 for (i = 0; i < data.length ; i++) {
            var centerX = centers[i][0];
            var centerY = centers[i][1];
            context.fillStyle = colours[Number(data[i])];
            createVertex(centerX, centerY);
         }   
		});
}

function getMousePos(canvas, evt) {
    if (evt.pageX != undefined && evt.pageY != undefined) {
			var x = evt.pageX;
			var y = evt.pageY;
		}
		
	else {
		x = evt.clientX + document.body.scrollLeft +
				document.documentElement.scrollLeft;
		y = evt.clientY + document.body.scrollTop +
				document.documentElement.scrollTop;
	}
	x -= canvas.offsetLeft;
	y -= canvas.offsetTop;
	
    return {
        x: x,
        y: y
    };
}

function createVertex(posx, posy) {
    
    context.beginPath();
    context.arc(posx, posy, 20, 0, Math.PI*2, false);
    context.closePath();
    context.fill();
}

function createEdge(a, b, c, d) {
    context.beginPath();
    context.moveTo(a, b);
    context.lineTo(c, d);
    context.closePath();
    context.strokeStyle = 'grey';
    context.stroke();
}

function create(evt) { 
    if (drawEdge) {
        var mousePos = getMousePos(canvas, evt);
        
        for (i = 0; i < centers.length ; i++) {
            var centerX = centers[i][0];
            var centerY = centers[i][1];
            
            var distance = Math.sqrt(Math.pow((mousePos.x-centerX),2) + Math.pow((mousePos.y-centerY),2))
        
            if (select == 0 && distance < 21) {
                select = 1;
                startX = centerX;
                startY = centerY;
                v = i;
                context.fillStyle = 'grey';
                createVertex(centerX, centerY);
                return;
            }
            
            if (select == 1 && distance < 21) {
                select = 0;
                var endX = centerX;
                var endY = centerY;
                u = i;
                if(adjancencyList[v] == undefined) {
                    adjancencyList[v]= new Array();
                    adjancencyList[v].push(i);
                }
                else
                    adjancencyList[v].push(i);
                if(adjancencyList[u] == undefined) {
                    adjancencyList[u]= new Array();
                    adjancencyList[u].push(v);
                }    
                else
                    adjancencyList[u].push(v);
              
                createVertex(centerX, centerY);
            }
        }
        createEdge(startX, startY, endX, endY);
             
      }


    else {
        var mousePos = getMousePos(canvas, evt);
        context.fillStyle = 'black';
        createVertex(mousePos.x, mousePos.y);
        var center = [mousePos.x, mousePos.y];
        vertexNo++;
        context.fillText(vertexNo, mousePos.x, mousePos.y-23);
        centers.push(center);
    }
}
</script>
</html>
